{% extends "base.html" %}
{% block title %}Test Network{% endblock %}
{% block content %}
  <h1 class="mb-4">Test a Network</h1>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="model_name" class="form-label">Model Name</label>
      <select class="form-select" id="model_name" name="model_name" required>
        {% for option in models %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="weights" class="form-label">Weights</label>
      <select class="form-select" id="weights" name="weights" required>
        {% for opt in weights_options %}
          <option value="{{ opt }}">{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="selected_bands" class="form-label">Band Combination</label>
      <select class="form-select" id="selected_bands" name="selected_bands" required>
        {% for opt in band_options %}
          <option value="{{ opt }}">{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="selected_dataset" class="form-label">Dataset Percentage</label>
      <select class="form-select" id="selected_dataset" name="selected_dataset" required>
        {% for opt in dataset_options %}
          <option value="{{ opt }}">{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="checkpoint_file" class="form-label">Select Checkpoint File</label>
      <input class="form-control" type="file" name="checkpoint_file" id="checkpoint_file" accept=".ckpt" required>
    </div>
    <button type="submit" class="btn btn-primary">Start Testing</button>
  </form>
{% endblock %}
