{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}
{% block content %}
  <h1 class="mb-4">Upload a TIFF Image for Prediction</h1>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="formFile" class="form-label">Select Image File</label>
      <input class="form-control" type="file" name="file" accept=".tif,.tiff" id="formFile" required>
    </div>
    <div class="mb-3">
      <label for="modelSelect" class="form-label">Select Model</label>
      <select class="form-select" name="model" id="modelSelect" required>
        {% for option in model_options %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Upload and Predict</button>
  </form>
{% endblock %}
